@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,700&family=Itim&family=KoHo&family=Mali&family=Mitr&family=Oswald&family=Sriracha&family=Teko&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    height:1000px;
    width: 100%;
    /* background-color: rgb(156, 118, 104); */
}

.card{
    width: 430px;
    height: 630px;
    background-color: #ffff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease-in-out;
}

.card-img {
    background-image: url('../img/bg.jpg');
    /* background-position:center; */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px 30px 0 0;
    height: 35vh;
    width: 100%;
    max-height: 230px;
}

.card-profile {
    display: inline-block;
    position: relative;
    width: 100%;
}

.card-profile img {
    width: 170px;
    height:170px;
    border-radius: 100%;
    border: 8px #fff solid;
    /* box-shadow: rgba(0, 0, 0, 0.5) 0px 25px 50px -12px; */
    position: absolute;
    background: #bbe9fc;
    transform: translateY(-65%);
    left: 29%;
    clip-path: circle(100%);
}

.card-profile .fa-ellipsis-vertical {
    font-size: 30px;
    cursor: pointer;
    color: #444444;
    position: absolute;
    right: 12%;
    transform: translateY(50%);
}

.card-body {
    position: relative;
    display: grid;
    place-items: center;
    margin-top: 40px;
    padding: 20px 20px 12px;
}

.card-header {
    margin: 3pt;
    text-align: center;
}

.card-header h2 {
    margin: 10px 0;
    font-size: 29px;
}

.card-header p {
    margin: 0 3pt;
    padding: 0 3px;
    font-size: medium;
}

.card-group-follow , .card-career{
    word-wrap: break-word;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.card-detail {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: 100px;
    word-wrap: break-word;
    grid-gap: 9px;
}

.card-items {
    text-align: center;
    margin: 0;
}

.card-items p {
    font-size:15px;
    margin: 0;
}

.faicon {
    margin: 7px;
    font-size: 30px;
    color: #2c2c2c;
}
.card-btn{
    margin: 0 0 30px;
    text-align: center;
    position: absolute;
    left: 20%;
    padding: 5px;
}
.btn , .btn-following{
    cursor: pointer;
    border-radius: 50px;
    font-size: medium;
    font-weight: bold;
    border: none;
    color: #000000;
    background-color: rgb(140, 219, 219);
    width: 15rem;
    height: 2.6rem;
    transition: all 0.29s ease;
}
.btn:hover , .btn-following:hover{
    transition: all 0.29s ease;
    box-shadow: 0 3px 12px rgb(92, 92, 92);
}
.btn:active , .btn-following:active {
    transition: all 0.1s ease-in-out;
    filter:brightness(84%);
    transform: translateY(4px);
    opacity: 1;
}
.btn-following {
    background-color: rgb(105, 231, 32);
}


@media screen and (max-width:600px) and (min-width:300px){
    .card{   
        width: 385px;
        min-width: 370px;
        height: 610px;
    }

    .card-items p {
        font-size:12px;
        margin: 0;
    }

    .card-header h2 {
        font-size: 24px;
    }
    
    .card-header p {
        font-size: 14px;
    }

    .card-detail {
        margin-top: 15px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(3, 90px);
        grid-template-rows: 60px;
        grid-gap: 4px;
    }
    
    /* width: 430px;
    height: 630px; */
}
